body { margin: 0; font-family: Arial; }

#container {
  display: flex;
}

#sidebar {
  width: 300px;
  padding: 15px;
  background: #f4f4f4;
  height: 100vh;
  overflow-y: auto;
}

#map {
  flex: 1;
  height: 100vh;
}

#chart {
  margin-top: 20px;
}
